<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/headerfooter">
<head>
    <title>Add Country</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container" layout:fragment="content">
    <div class="row">
        <form th:action="@{/addCountry}" method="post">

            <!-- Text input-->
            <div class="form-group col-md-4 col-md-offset-4">
                <label>Country Name:</label>
                <input th:id="countryName" th:name="countryName" class="form-control" type="text"
                       placeholder="Country Name"
                       style="margin-top: 0px;" required="required"/>
            </div></br>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-5 control-label" for=""></label>
                <div class="col-md-7">
                    <button id="" type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </form>
    </div>
</div>


</body>
</html>