<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/headerfooter">
<head>
    <title>Countries</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" layout:fragment="content">
    <div class="row">
        <!--Table-->
        <div class="table-responsive col-md-4">
            <table class="table table-bordered table-hover" style="background-color: lightgoldenrodyellow;">
                <thead>
                <tr>
                    <!--<th class="col-lg-5 text-center">SL No</th>-->
                    <th class="col-md-4 col-sm-4 col-xs-4 text-center">SL No</th>
                    <th class="col-md-6 col-sm-6 col-xs-4 text-center ">Country</th>
                    <th class="col-md-2 col-sm-2 col-xs-4 text-center" colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr id="tableRow" class="text-left" th:each="country,iterator : ${countries}">
                    <td th:hidden="${country.countryId}" th:name="countryId"></td>
                    <!--<td th:text="${iterator.index+1}"></td>-->
                    <td th:text="${(iterator.index + 1)}" th:value="${(iterator.index + 1)}"></td>
                    <td><a th:text="${country.countryName}" th:name="countryName" th:value="${country.countryId}" th:onclick="'getTeamMembers('+ ${country.countryId} +')'"></a></td>
                    <td class="text-center">
                        <a th:href="@{/updateCountry(countryId=${country.countryId})}">
                            <button id="editButton" class="glyphicon glyphicon-pencil"></button>
                        </a>
                    </td>
                    <td class="text-center">
                        <a th:href="@{/deleteCountry(countryId=${country.countryId})}">
                            <button id="deleteButton" class="glyphicon glyphicon-trash"></button>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="teamDiv" style="border: 1px solid black" class="col-md-8 table-responsive">
            <h4 id="countryHeader">Click on country name to see Team Members</h4>
            <table class="table table-bordered table-hover" style="background-color: lightgoldenrodyellow;" id = "teamTable">
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Sl No</th>-->
                    <!--<th>Name</th>-->
                    <!--<th>Date Of Birth</th>-->
                    <!--<th>Age</th>-->
                    <!--<th>Role</th>-->
                    <!--<th colspan="2"></th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->

                <!--</tbody>-->
            </table>
        </div>
    </div>

    <script type="text/javascript" >
        function getTeamMembers(countryId) {
            $.ajax({
                type: "GET",
                url: window.location + "teamMembers?countryId="+countryId,
                success: function (result) {
                    $('#teamTable').empty();
                    var teamTableHead = '<thead>\n' +
                        '                <tr>\n' +
                        '                    <th>Sl No</th>\n' +
                        '                    <th>Name</th>\n' +
                        '                    <th>Date Of Birth</th>\n' +
                        '                    <th>Age</th>\n' +
                        '                    <th>Role</th>\n' +
                        '                    <th colspan="2"></th>\n' +
                        '                </tr>\n' +
                        '                </thead>'+
                        '                <tbody>' +
                        '                </tbody>';
                    $('#teamTable').append(teamTableHead);
                    $.each(result, function (index, teamMember) {
                        $('#countryHeader').empty();
                        $('#countryHeader').append(teamMember.country.countryName);
                        var teamMemberRow = '<tr>' +
                            '<td>' + (index+1) + '</td>' +
                            '<td>' + teamMember.name + '</td>' +
                            '<td>' + teamMember.dateOfBirth + '</td>' +
                            '<td>' + teamMember.age + '</td>' +
                            '<td>' + teamMember.role + '</td>' +
                            '<td><a onclick="editMember('+teamMember.teamMemberId+')">'+
                            '<button id="editButton" class="glyphicon glyphicon-pencil"></button>'+
                            '</a></td>' +
                            '<td><a onclick="deleteTeamMember('+teamMember.teamMemberId+')">'+
                                    '<button id="deleteButton" class="glyphicon glyphicon-trash"></button>'+
                                 '</a></td>' +
                            '</tr>';

                        $('#teamTable tbody').append(teamMemberRow);

                    });
                },
                error: function (e) {
                    alert("ERROR: ", e);
                    console.log("ERROR: ", e);
                }
            });
        }


        function deleteTeamMember(teamMemberId) {
            $.ajax({
                type: "DELETE",
                url: window.location + "deleteTeamMember?teamMemberId="+teamMemberId,
                success: function (result) {
                    getTeamMembers(result);
                },
                error: function (e) {
                    alert("ERROR: ", e);
                    console.log("ERROR: ", e);
                }
            });
        }

        function  editMember(teamMemberId) {
            window.location = window.location + "editTeamMember?teamMemberId="+teamMemberId;
        }
    </script>
</div>

</body>
</html>